<div>
    Owners View!
</div>
<form ng-submit="vm.addOwner(vm.ownerToAdd)">
    <input type="text" placeholder="Name" ng-model="vm.ownerToAdd.owner_name"><br>
    <input type="submit">
</form>

<table>
        <thead>
            <tr>
                <th>Name</th><th>Pets Owned</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="owner in vm.owners.list">
                <td>{{owner.owner_name}}</td><td>{{owner.count}}</td><td><md-button class="md-raised md-warn" ng-click="vm.deleteOwner(owner)">Delete!</md-button></td>
            </tr>
        </tbody>
    </table>